<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DataOperationProj</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DataInputServlet</servlet-name>
    <servlet-class>servlets.DataInputServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>showStudentsServlet</servlet-name>
    <servlet-class>servlets.showStudentsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>findModifyStudent</servlet-name>
    <servlet-class>servlets.findModifyStudent</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>modifyStudentServlet</servlet-name>
    <servlet-class>servlets.modifyStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>deleteStudent</servlet-name>
    <servlet-class>servlets.deleteStudent</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>addStudentServlet</servlet-name>
    <servlet-class>servlets.addStudentServlet</servlet-class>
  </servlet>
  







  <servlet-mapping>
    <servlet-name>DataInputServlet</servlet-name>
    <url-pattern>/DataInputServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showStudentsServlet</servlet-name>
    <url-pattern>/showStudentsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>findModifyStudent</servlet-name>
    <url-pattern>/findModifyStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>modifyStudentServlet</servlet-name>
    <url-pattern>/modifyStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteStudent</servlet-name>
    <url-pattern>/deleteStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addStudentServlet</servlet-name>
    <url-pattern>/addStudentServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>